body{
    background-color:tomato;
    font: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.info{
    font-size: 2rem;
    color: #fff;
    margin: 20% auto;
    margin-left: 40%;
}